.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4em;
  min-height: 4em;
}

.box:hover {
  cursor: pointer;
}

.operand {
  background: rgb(103, 103, 103);
}
.operand:hover {
  opacity: 75%;
}

.operator {
  background: rgb(238, 156, 4);
}
.operator:hover {
  opacity: 75%;
}

.other {
  background: rgb(154, 153, 153);
}
.other:hover {
  opacity: 75%;
}

.text {
  color: rgb(255, 255, 255);
}
