.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 4em;
  min-height: 4em;
  background: rgb(103, 103, 103);
}

.box:hover {
  cursor: pointer;
  background: rgb(78, 78, 78);
}

.text {
  color: rgb(255, 255, 255);
}
